<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../shared.css">
  <link rel="stylesheet" type="text/css" href="./index.css">

  <title>Forvilo</title>
</head>

<body>
  <section class="container">
    <div class="title">API Key</div>
    <input type="text" class="input" spellcheck="false" placeholder="Enter your API key..." />
    <div class="button">Save Key</div>
  </section>

  <script>let exports = { "__esModule": true };</script>
  <script src="./index.js"></script>
</body>

</html>
